@import './_variables';

body {
    font-family: $perzeption-font-family;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: $perzeption-text;
}

h1 {
    font-size: $perzeption-h1;
}

h2 {
    font-size: $perzeption-h2;
}

p {
    font-size: $perzeption-text;
}