// Global Font Style
$perzeption-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

// Font sizes
$perzeption-h1: 64pt;
$perzeption-h2: 36pt;
$perzeption-text: 18pt;

// Colors
$perzeption-text-navy: #000F46;
$perzeption-white: white;
$perzeption-primary-purple: #7520B9;
$perzeption-illustration-blue: #20AAEA;
$perzeption-background-blue: #333F6B;

// Margins and Padding
$perzeption-page-padding: 80px;

$perzeption-min-page-height: 90vh;