// Global Font Style
$perzeption-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

// Font sizes
$perzeption-h1: 64pt;
$perzeption-h2: 36pt;
$perzeption-text: 18pt;

// Colors
$perzeption-dark-bg: #000F46;
$perzeption-text-color: white;
$perzeption-active-color: #7520B9;

// Margins and Padding
$perzeption-page-padding: 60px;