// Global Font Style
$perzeption-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

// Font sizes
$perzeption-h1: 64pt;
$perzeption-h2: 36pt;
$perzeption-text: 18pt;

// Colors
$perzeption-light-bg: #FBFAFF;
$perzeption-dark-bg: #000F46;
$perzeption-text-color: #333F6B;
$perzeption-nav-color: #20AAEA;
$perzeption-active-color: #AA62E3;

// Margins and Padding
$perzeption-page-padding: 60px;