// Global Font Style
$perzeption-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

// Font sizes
$perzeption-h1: 48pt;
$perzeption-h2: 36pt;
$perzeption-text: 18pt;

$perzeption-active-color: #417AEA;